html {
  font-size: 14px;
}

body {
  background-color: #c8cfdc;
  color: #000;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1480px;
  padding-left: 0;
  padding-right: 0;
}

header {
  height: 90px;
  padding: 20px;
  background-color: #f2f9fd;
}
header a {
  color: #333333;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}

.header_menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_menu li {
  margin-top: 3px;
}
.header_menu li:not(:first-child) {
  margin-left: 40px;
}
.header_menu li:first-child {
  margin-left: 30px;
}
.header_menu li a::after {
  display: block;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #0089cf;
  -webkit-transform: translateY(29px) scale(0);
          transform: translateY(29px) scale(0);
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
}
.header_menu li a:hover {
  color: #0089cf;
}
.header_menu li a:hover::after {
  -webkit-transform: translateY(29px) scale(1);
          transform: translateY(29px) scale(1);
}

.header_additional_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_additional_menu li {
  position: relative;
}
.header_additional_menu li:not(:first-of-type) {
  margin-left: 56px;
}
.header_additional_menu li img {
  float: left;
  position: absolute;
  left: -26px;
  top: 6px;
}
.header_additional_menu li a:hover {
  color: #0089cf;
}

.products {
  height: 880px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.product-line:not(:last-child) {
  margin-bottom: 20px;
}

.small-card {
  cursor: pointer;
  position: relative;
  height: 430px;
  width: 280px;
}
.small-card:not(:last-child) {
  margin-right: 20px;
}

.feature {
  z-index: 10;
  position: absolute;
  top: 33px;
  left: 0;
  right: 0;
}
.feature h1 {
  display: block;
  margin: auto;
  font-family: "Fira Sans", sans-serif;
  width: 80px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.f-ex h1 {
  text-align: center;
  background-color: #0089cf;
  color: white;
}

.f-news h1 {
  width: 50px;
  height: 20px;
  text-align: center;
  background-color: #83d78c;
  color: white;
}

.f-new_arr {
  text-align: center;
  color: #000;
}

.f-brand {
  text-align: center;
  color: #fff;
}

.product-firm {
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  bottom: 105px;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}
.product-firm img {
  display: block;
  margin: 0 auto;
}

.sc-high-pfirm {
  bottom: 315px;
}

.product-model {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 80px;
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  /* Text style for "Air Max Ta" */
  letter-spacing: 0.28px;
}

.product-img {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.sc-normal-img-align {
  bottom: 165px;
}

.sc-bottom-img-align {
  bottom: 0;
}

.product-price {
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  bottom: 39px;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  /* Text style for "$160.00" */
  letter-spacing: 0.9px;
}

.old-price {
  color: #fc7070;
  text-decoration: line-through;
}

.sc-white {
  background-color: white;
  color: #000;
}

.sc-blue {
  background-color: #383d68;
  color: #fff;
}

.sc-grey-3 {
  background-color: #333333;
  color: #fff;
}

.large-card {
  cursor: pointer;
  position: relative;
  width: 580px;
  height: 430px;
  background-color: white;
}
.large-card:not(:last-child) {
  margin-right: 20px;
}

.lc-img-left div.product-description {
  position: absolute;
  top: 0;
  left: 321px;
  z-index: 11;
  width: 235px;
  height: 430px;
}
.lc-img-left div.product-description div.feature h1 {
  margin: 0;
}
.lc-img-left div.product-description div.product-firm {
  position: static;
  text-align: left;
  margin-top: 131px;
  margin-bottom: 0px;
}
.lc-img-left div.product-description div.product-model {
  position: static;
  text-align: left;
  margin-top: 5px;
}
.lc-img-left div.product-description div.product-price {
  position: static;
  text-align: left;
  margin-top: 20px;
}

.product-details {
  text-align: justify;
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.24px;
  margin-top: 5px;
}

.firm-card {
  cursor: default;
}
.firm-card div.product-description {
  width: 240px;
  margin-top: 135px;
  margin-left: auto;
  margin-right: auto;
}
.firm-card div.product-description div.shop-brand {
  margin-top: 33px;
}
.firm-card div.product-description div.shop-brand a {
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.firm-card div.product-description div.shop-brand a::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 3px;
  background-image: url("../img/cards/arrow.png");
  width: 8px;
  height: 16px;
  background-repeat: no-repeat;
}

footer {
  margin-top: 30px;
  background-color: #0c0d0d;
  padding-top: 40px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer div.logo {
  margin-left: 60px;
  margin-top: 5px;
}
footer div.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
}
footer div.footer_menu a {
  color: #666666;
}
footer div.footer_menu div.row {
  width: 100%;
}

.contacts {
  margin-right: 50px;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.networks div {
  cursor: pointer;
  position: relative;
  display: block;
  border: 1px solid #333;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.networks div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.subscribe {
  margin-top: 30px;
}
.subscribe img {
  height: 13px;
  position: relative;
  top: 3px;
  margin-right: 10px;
}
.subscribe input {
  position: relative;
  background-color: #0c0d0d;
  border: none;
  outline: none;
  color: #666666;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
.subscribe hr {
  width: 100%;
  height: 1px;
  color: #333;
  background-color: #333;
  border: none;
}

.copyright {
  color: #666;
  margin-bottom: 30px;
}

/*# sourceMappingURL=main.css.map */