$body-bgColor: #c8cfdc
$header-bgColor: #f2f9fd
$footer-bgColor: #0c0d0d
$header-fontColor: #333333
$header-ifActive-fontColor: #0089cf
$white: #fff
$black: #000
$header-marker: #0089cf
$footer-fontColor: #666666
$f-news-clr: #83d78c
$f-ex-clr: #0089cf
$grey-6: #666666
$grey-3: #333333
$grey-9: #999999
